{% extends 'base.html.twig' %}

{% block title %}Your Tasks{% endblock %}

{% block body %}
    <div class="container-md" id="app">
        {% if app.user %}
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">You are logged in
                        as {{ app.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Date from:</label>
                    <input type="date" v-model="dateFrom" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Date untill:</label>
                    <input type="date" v-model="dateTo" class="form-control">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="pdf" v-model="exportType" checked>
                    <label class="form-check-label">
                        PDF
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="xlsx" v-model="exportType" type="radio">
                    <label class="form-check-label">
                        Excel
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="csv" v-model="exportType" type="radio">
                    <label class="form-check-label">
                        CSV
                    </label>
                </div>
                <button type="submit" v-on:click="generateReport" class="btn btn-primary mb-3">Generate report</button>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" v-model="title" class="form-control" placeholder="Title">
                </div>
                <div class="mb-3">
                    <label class="form-label">Date</label>
                    <input type="date" v-model="date" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Comment</label>
                    <textarea class="form-control" v-model="comment" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Time spent (minutes)</label>
                    <input type="number" v-model="timeSpent" class="form-control" min="0">
                </div>
                <div class="mb-3">
                    <button type="submit" v-on:click="createTask" :disabled="saveDisabled" class="btn btn-primary mb-3">
                        Save task
                    </button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Task name</th>
                <th scope="col">Comment</th>
                <th scope="col">Date</th>
                <th scope="col">Amount of time</th>
            </tr>
            </thead>
            <tbody>
            {% for task in paginatedTasks %}
                <tr>
                    <th>{{ task.title }}</th>
                    <td>{{ task.comment }}</td>
                    <td>{{ task.date | date('Y-m-d') }}</td>
                    <td>{{ task.time }} min.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(paginatedTasks) }}
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                title: null,
                comment: null,
                date: null,
                timeSpent: null,
                saveDisabled: false,
                dateFrom: null,
                dateTo: null,
                exportType: 'pdf',
                userId: '{{ app.user.id }}'
            },
            methods: {
                generateReport: function () {
                    if (!this.dateTo || !this.dateFrom) {
                        return;
                    }

                    location.href = 'api/export-tasks/user/' + this.userId + '/type/' + this.exportType + '?dateFrom=' + this.dateFrom + '&dateTo=' + this.dateTo;
                },
                createTask: function () {
                    if (this.timeSpent < 0) {
                        this.timeSpent = 0;
                        return;
                    }
                    this.saveDisabled = true;

                    const requestOptions = {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({
                            userId: this.userId,
                            title: this.title,
                            comment: this.comment,
                            date: this.date,
                            time: this.timeSpent
                        })
                    };

                    fetch('/api/create-task', requestOptions)
                        .then(async response => {
                            location.reload();
                        })
                        .catch(error => {
                            this.errorMessage = error;
                            console.error('There was an error!', error);
                        });
                }
            }
        })
    </script>
{% endblock %}