<table border="1">
    <thead>
    <tr>
        <th scope="col">Task name</th>
        <th scope="col">Comment</th>
        <th scope="col">Date</th>
        <th scope="col">Amount of time</th>
    </tr>
    </thead>
    <tbody>
    {% for task in data %}
        <tr>
            <th>{{ task.title }}</th>
            <td>{{ task.comment }}</td>
            <td>{{ task.date | date('Y-m-d') }}</td>
            <td>{{ task.time }} min.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>